body {
    background-color: aquamarine;
    font-family: 'Dosis';
    overflow-x: hidden;
}

#pink_appointment_bar {
    display: flex;
    justify-content: center;
    gap: 15%;
    background-color: deeppink;
    padding: 25px 30px;    
    margin-top: -1%;
    margin-left: -3%;
    font-size: 40px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.booking img {
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.nav_bar {
    margin-left: 25px;
    height: fit-content;
    text-align: right;
}

.nav_bar a:link, a:visited {
    color: lavenderblush;
    text-decoration: dotted underline lavender 2px;
    margin-right: 25px;
}

.nav_bar img {
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

#services {
    text-decoration: underline lavender 2px;
}

.full_section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.profile_snapshot {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 5%;
    width: 35%;
    height: fit-content;
}

.services_list {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20%;
    row-gap: 0%;
    flex-wrap: wrap;
    width: 40%;
    color: deeppink;
}

.services_list h2 {
    font-size: 50px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: -10px;
    justify-self: center;
    font-family: "Dancing Script";
}

#services_block {
    display: none;
    border: solid 3px hotpink;
    background-color: lavender;
    width: 25%;
    height: fit-content;
    margin-top: 5%;
    margin-left: 5%;
    padding: 5%;
    text-align: center;
    font-size: larger;
}

.services_list ul {
    font-size: 20px;
    list-style-type: none;
}

.services_list h3 {
    margin-top: -5px;
    width: 50%;
    height: 30%;
}

.services_list a {
    color: mediumslateblue;
    text-decoration-color: mediumslateblue;
}

.dropdowns {
    position: relative;
    display: inline-block;
}

.buttons {
    margin: 5px;
    background-color: deeppink;
    color: lavenderblush;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.options {
    display: none;
    position: absolute;
    background-color: lavenderblush;
    min-width: 250px;
    z-index: 1;
}

.options a {
    color: deeppink;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.service_info {
    display: none;
    position: absolute;
    background-color: lavenderblush;
    min-width: 250px;
    font-size: 20px;
    margin-left: 1%;
    padding: 0;
}

.dropdowns a:hover {
    background-color: pink;
}

.dropdowns:hover .options {
    display: block;
}

.dropdowns:hover .buttons {
    background-color: hotpink;
}

.options:hover .service_info {
    position: relative;
    display: inline;
}

.attributions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 25px;
    margin-bottom: auto;
    gap: 90%;
    width: 100%;
    margin-top: 50px;
    margin-left: -10px;
    margin-bottom: -10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hotpink;
}

.attributions h5 {
    margin: auto;
    color: lavenderblush;
    text-decoration: wavy underline 2px;
    margin-bottom: auto;
    padding-bottom: 10px;
    font-size: medium;
}

.attributions a:any-link {
    color: lavenderblush;
}

/* Media Queries */
/* Support non-IOS devices */
@supports not (-webkit-touch-callout: none) {
    /* Phone size (min about 320px) */
    @media only screen and (max-width:550px) {
        #pink_appointment_bar {
            display: block;
            text-align: center;
            flex-wrap: balance;
        }

        .full_section {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: left;
        }

        .profile_snapshot {
            width: 80%;
            height: 100%;
        }

        .profile_snapshot iframe {
            justify-self: unset;
            width: 100%;
        }

        .services_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }

        .services_list h2 {
            padding: 0;
        }

        .services_list ul {
            margin: 0;
            padding: 0;
        }

        .services_list h3 {
            width: 100%;
            margin: auto;
        }
    }

    /* Tablet Size */
    @media only screen and (min-width:551px) and (max-width:838px) {
        .full_section {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .booking {
            padding-left: 20px;
        }

        .profile_snapshot {
            margin-left: 0;
            width: 80%;
            height: 100%;
        }

        .profile_snapshot iframe {
            margin: 0;
            width: 100%;
        }

        .services_list {
            display: flex;
            justify-content: center;
            width: 100%;
            text-align: center;
        }

        .services_list h2 {
            margin: 0;
            margin-left: 20%;
        }

        .services_list ul {
            margin: auto;
        }

        .services_list h3 {
            width: 100%;
            margin: auto;
            text-align: center;
        }

        .booking {
            padding-left: 20px;
        }
    }
}
/* Support IOS devices */
@supports (-webkit-touch-callout: none) {
    /* Phone size (min about 320px) */
    @media only screen and (max-width:550px) {
        body {
            background-color: mediumspringgreen;
        }

        #pink_appointment_bar {
            display: block;
            text-align: center;
            flex-wrap: balance;
            margin-top: -5%;
            padding: 32px;
        }

        .nav_bar {
            text-align: center;
        }

        .booking a:any-link {
            color: lavenderblush;
        }

        #services {
            text-decoration-style: double;
        }

        .full_section {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .profile_snapshot {
            justify-self: center;
            width: 90%;
            height: 100%;
        }

        .profile_snapshot iframe {
            width: 100%;
        }

        .services_list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            text-align: center;
            margin-left: 5%;
            padding: 0;
        }

        .services_list h2 {
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: "Parisienne";
        }

        .services_list ul {
            width: 100%;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .services_list h3 {
            width: 100%;
            margin: 0;
            padding: 0;
            justify-self: center;
        }

        .services_list a:any-link {
            color: mediumslateblue;
        }

        .attributions {
            padding: 31px;
        }
    }

    /* Tablet Size */
    @media only screen and (min-width:551px) and (max-width:838px) {
        body {
            background-color: mediumspringgreen;
        }

        #pink_appointment_bar {
            padding: 32px;
        }

        #services {
            text-decoration-style: double;
        }

        .booking a:any-link {
            color: lavenderblush;
        }

        .full_section {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .booking {
            padding-left: 20px;
        }

        .profile_snapshot {
            justify-content: center;
            margin-left: 0;
            width: 80%;
            height: 100%;
        }

        .profile_snapshot iframe {
            width: 100%;
        }

        .services_list {
            display: flex;
            justify-content: center;
            width: 100%;
            text-align: center;
            gap: 0;
        }

        .services_list h2 {
            width: 100%;
            margin: auto;
            padding: auto;
            text-align: center;
            font-family: "Parisienne";
            font-size: 65px;
        }

        .services_list ul {
            width: 100%;
            text-align: center;
        }

        .services_list h3 {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        .services_list a:any-link {
            color: mediumslateblue;
        }
    }
}