body {
    background-color: aquamarine;
    font-family: 'Dosis';
    overflow-x: hidden;
}

#pink_appointment_bar {
    background-color: deeppink;
    padding: 25px 30px;
    margin-top: -1%;
    margin-left: -3%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav_bar {
    margin-left: 25px;
    height: fit-content;
    text-align: right;
}

.nav_bar a:link, a:visited {
    color: lavenderblush;
    font-size: 40px;
    text-decoration: dotted underline lavender 2px;
    margin-right: 25px;
}

.nav_bar img {
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

#home {
    text-decoration: underline lavender 2px;
}

.two_columns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_formatting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
}

#title {
    color: deeppink;
    font-family: 'Dancing Script';
    font-size: 65px;
    margin-left: 15%;
}

.lauren_at_salon {
    height: 70%;
    width: 70%;
    float: right;
    padding-top: 0px;
    padding-bottom: 25px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.lauren_at_salon img {
    height: 100%;
    width: 100%;
    border: solid hotpink 10px;
    border-radius: 75px;
}

.styling_images {
    position: relative;
    display: flex;
    float: right;
    width: 40%;
    height: 75%;
    padding: 25px;
    padding-bottom: 40px;
    margin-right: 5%;
    margin-top: -50px;
}

.styling_images img {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.appointment_bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90%;
    width: 20%;
    margin-left: 37%;
}

.appointment_bar a:link, a:visited {
    color: lavenderblush;
    font-size: 20px;
}

.appointment_bar img {
    height: 30px;
    width: 30px;
}

.attributions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding: 25px;
    margin-bottom: auto;
    gap: 90%;
    width: 100%;
    margin-top: 50px;
    margin-left: -10px;
    margin-bottom: -10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hotpink;
}

.attributions h5 {
    margin: auto;
    color: lavenderblush;
    text-decoration: wavy underline 2px;
    margin-bottom: auto;
    font-size: medium;
}

.attributions a:any-link {
    color: lavenderblush;
}

/* Media Queries */
/* Supports non-IOS devices */
@supports not (-webkit-touch-callout: none) {
    /* Smartphone size */
    @media only screen and (max-width:550px) {
        #pink_appointment_bar {
            margin-top: -2%;
            margin-right: -10px;
        }

        .nav_bar {
            text-align: center;
        }

        .two_columns {
            flex-wrap: wrap;
            flex-direction: column;
        }

        #title {
            text-align: center;
        }

        .lauren_at_salon {
            height: 40%;
            width: 100%;
        }

        .lauren_at_salon img {
            border: solid hotpink 5px;
            border-radius: 10px;
            height: 50%;
        }
        
        .styling_images {
            height: 100%;
            width: 80%;
            margin: 0;
            margin-top: -30px;
        }

        .appointment_bar {
            margin-top: -20px;
            margin-left: 40%;
        }

        .appointment_bar a:link, a:visited{
            font-size: x-small;
        }

        .appointment_bar img {
            height: 20px;
            width: 20px;
        }
    }

    /* Tablet size */
    @media only screen and (min-width:551px) and (max-width:900px) {
        #pink_appointment_bar {
            margin: -5%;
        }

        .two_columns {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
        }

        #title {
            text-align: center;
            justify-content: center;
            width: 100%;
        }

        .lauren_at_salon {
            height: 100%;
            width: 100%;
        }

        .lauren_at_salon img {
            border: solid hotpink 5px;
            border-radius: 30px;
        }

        .styling_images {
            height: 100%;
            width: 80%;
            margin: 0;
            margin-top: -30px;
        }

        .appointment_bar {
            margin-top: -20px;
            margin-left: 40%;
        }

        .appointment_bar a:link, a:visited{
            font-size: medium;
        }

        .appointment_bar img {
            height: 20px;
            width: 20px;
        }
    }
}
/* Supports IOS devices */
@supports (-webkit-touch-callout: none) {
    /* Smartphone size (min-width assumed around 320px) */
    @media only screen and (max-width:550px) {
        body {
            background-color: mediumspringgreen;
        }

        #pink_appointment_bar {
            margin-top: -2%;
            margin-right: -5%;
            padding: 31.5px;
        }

        .nav_bar {
            text-align: center;
        }

        #home {
            text-decoration-style: double;
        }

        .two_columns {
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
        }

        .title_formatting {
            width: 100%;
        }

        #title {
            text-align: center;
            font-family: "Parisienne";
            margin-left: 0%;
        }

        .lauren_at_salon {
            height: 40%;
            width: 80%;
            justify-self: center;
            float: none;
        }

        .lauren_at_salon img {
            border: solid hotpink 5px;
            border-radius: 10px;
            height: 50%;
        }
        
        .styling_images {
            height: 100%;
            width: 100%;
            margin: 0;
            margin-top: -30px;
            padding-bottom: 20%;
            float: none;
        }

        .appointment_bar {
            margin-top: -20px;
            margin-left: 40%;
        }

        .appointment_bar a:link, a:visited{
            font-size: x-small;
        }

        .appointment_bar img {
            height: 20px;
            width: 20px;
        }

        .attributions {
            margin-top: -5%;
            padding: 31px;
        }
    }

    /* Tablet size */
    @media only screen and (min-width:551px) and (max-width:900px) {
        body {
            background-color: mediumspringgreen;
        }

        #pink_appointment_bar {
            margin-top: -2%;
            margin-right: -5%;
            padding: 35px;
        }

        .nav_bar {
            text-align: center;
        }

        #home {
            text-decoration-style: double;
        }

        .two_columns {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        .title_formatting {
            width: 100%;
        }

        #title {
            text-align: center;
            justify-content: center;
            width: 100%;
            font-family: "Parisienne";
            margin-left: 0%;
        }

        .lauren_at_salon {
            justify-content: center;
            width: 70%;
            float: none;
        }

        .lauren_at_salon img {
            height: 40%;
            border: solid hotpink 5px;
            border-radius: 30px;
        }

        .styling_images {
            height: 100%;
            width: 80%;
            margin: 0;
            margin-top: -30px;
        }

        .appointment_bar {
            margin-top: -20px;
            margin-left: 40%;
        }

        .appointment_bar a:link, a:visited{
            font-size: medium;
        }

        .appointment_bar img {
            height: 20px;
            width: 20px;
        }

        .attributions {
            padding: 28px;
        }
    }
}